/* index */
*{
	margin: 0px;
}
#header{
	width: 100vw;
	height: 70px;
	background-color: #2b103b;
	position: fixed;
	box-sizing: border-box;
	border-bottom: 1px solid #efc638;
}
.logo_name{
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.logo_name .p1{
	font-size: 25px;
	font-weight: 600;
	color: #efc638;
}
.logo_name .p2{
	font-size: 10px;
	color: #efc638;
}
.menubt{
	width: 25px;
	height: 25px;
	position: fixed;
	top: 0px;
	right: 20px;
	margin: auto;
	transition: all 0.25s ease-in-out;
}
.menubt .menulist{
	display: none;
}
.menubt:hover{
	top: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	border-radius: 10px 0px 0px 10px;
	box-shadow: -2px 2px 10px 2px #999;
	width: 61.8vw;
	height: 100vh;
}
.menubt:hover .menulist{
	display: block;
}
.menubt::before,.menubt::after{
	content: "";
	width: 25px;
	height: 2px;
	border-radius: 1px;
	background-color: #efc638;
	display: block;
	position: fixed;
	transition: all 0.25s ease-in-out;
}
.menubt::before{
	top: 23px;
	box-shadow: 0px 8px #efc638;
}
.menubt::after{
	top: 39px;
}
.menubt:hover::before, .menubt:hover::after{
	display: none;
}
.menulist{
	height: 100%;
	position: relative;
}
.list_item{
	width: 80%;
	height: 40px;
	line-height: 40px;
	background-color: #715ca8;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	margin-top: 10px;
}
.list_item_text{
	font-size: 16px;
	font-weight: 600;
	color: #2b103b;
}
.list_more{
	position: absolute;
	bottom: 35px;
	left: 20px;
	height: 30px;
	width: 100%;
}
.list_more_img{
	height: 20px;
}
.list_more_text{
	font-size: 10px;
	color: #000;
}
.dia{
	width: 60vw;
	margin: auto;
	background-color: #715ca8;
	border: none;
	border-radius: 10px;
}
.dia_title{
	font-size: 18px;
	font-weight: 600;
}
.dia_info{
	font-size: 12px;
}
.bt{
	width: 60%;
	border: none;
	border-radius: 10px;
	margin-left: 20%;
}
.logframe{
	width: 100%;
}
.rollmenu{
	background-color: #715ca8;
	height: 30px;
	transition: all 0.2s ease-in-out;
	position: fixed;
	top: 70px;
}
.roll_item{
	
	line-height: 30px;
	font-size: 14px;
	float: left;
	transition: all 0.2s ease-in-out; 
}
#home,#note,#project,#other{
	width: 20vw;
	box-sizing: border-box;
	font-weight: 300;
}
#home{
	width: 40vw;
	font-weight: 600;
}
.roll_item_title{
	color: #efc638;
	text-align: center;
}
.roll_item_page{
	display: none; 
}
.roll_item_page_active{
	height: 100vh;
	position: absolute;
	top: 30px;
	left: 0px;
	right: 0px;
	font-weight: 500;
}
.roll_item_page_iframe{
	width: 100%;
	height: calc(100% - 100px);
}